<br />
  <h2 class="question-header"><%= @question.content %></h2>
  asked by <%= @question.user.first_name %> <time class='timeago' datetime="<%= @question.created_at.iso8601 %>"><%= @question.created_at %></time>
  <br />
  <br />
  <span type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myAnswer-<%= @question.id %>">Answer</span>
  <div class="modal fade" id="myAnswer-<%= @question.id %>" role="dialog">
    <div class="modal-dialog">
      <form action="/answer_question/<%= @question.id %>" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <%= @question.user.first_name %> asked</h4>
          <%= @question.content %>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="question"></label>
            <textarea class="form-control" placeholder="What is your answer?" rows="5" id="answer" name="answer"></textarea>

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="submit-answer-btn" type="submit" class="btn btn-primary">Submit Answer</button>
        </div>
      </div>
    </form>
      </div>
    </div>
    <form class="vote" method ="post" action ="/question/<%= @question.id %>/vote">
    <button type="submit" class="btn-vote"><span class="glyphicon glyphicon-chevron-up"></span></button>
    </form>
    <% ss = QuestionVote.where(question_id: @question.id, value: 'up').count - QuestionVote.where(question_id: @question.id, value: 'down').count %>
    <%= ss %>
    <form class= "vote" method ="post" action ="/question/<%= @question.id %>/downvote">
    <button type="submit" class="btn-vote"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </form>


  <br />
  <br />


  <h3 class="answer-count"><%= @question.answers.count if @question.answers.any? %> Answers</h3>


  <hr class="style7">

  <% @question.answers.order('created_at DESC').each.with_index do |a, index| %>

    <%= a.user.first_name %> answered <time class='timeago' datetime="<%= a.created_at.iso8601 %>"><%= a.created_at %></time>
    <br />
    <br />
    <%= a.answer %>
    <br />
    <br>
    <form class="vote" method ="post" action ="/answer/<%= a.id %>/vote">
    <button type="submit" class="btn-vote"><span class="glyphicon glyphicon-chevron-up"></span></button>
    </form>
    <% ss = AnswerVote.where(answer_id: a.id, value: 'up').count - AnswerVote.where(answer_id: a.id, value: 'down').count %>
    <%= ss %>
    <form class="vote" method ="post" action ="/answer/<%= a.id %>/downvote">
    <button type="submit" class="btn-vote"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </form>
  <hr class="style7">
  <% end %>
